body{
    background-color:black; color: white;
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.m4FmOjk0Bx-N4JaBzsBoTgHaEP&pid=Api&P=0&h=180");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover ;

}
p{
    text-align: center;
    color: black;
    text-align: center;
}